/********************
 * FEATURE CAROUSEL *
 ********************/
#carousel-container {
  position:relative;
  width:960px;
}
#carousel {
  height:280px;
  width:960px;
  background-color:#CCC;
  position:relative;
  margin-bottom:0.5em;
  font-size:12px;
  font-family: Arial;
}
#carousel .carousel-image {
  border:0;
}
#carousel .carousel-feature {
  position:absolute;
  top:-1000px;
  left:-1000px;
  border:2px solid #5d5d5d;
  cursor:pointer;
}
#carousel .carousel-feature .carousel-caption {
  position:absolute;
  bottom:0px;
  left:0px;
  background-color:black;
  width:100%;
}
#carousel .carousel-feature .carousel-caption p {
  margin:0;
  padding:5px;
  font-weight:bold;
  font-size:12px;
  color:white;
}
#carousel .blipsContainer {
  position:absolute;
  color:white;
  right:25px;
  top:210px;
  padding:0;
  margin:0;
}
#carousel .blipsContainer li {
  list-style:none;
}
#carousel .blipsContainer .blip {
  margin:0 3px;
  padding:0 3px;
  color:white;
  text-align:center;
  background-color:#DDD;
}
#carousel .blipsContainer .blipSelected {
  color:white;
  font-weight:bold;
  background-color:black;
}
#carousel-left {
  position:absolute;
  bottom:33px;
  left:220px;
  cursor:pointer;
}
#carousel-right {
  position:absolute;
  bottom:33px;
  right:220px;
  cursor:pointer;
}